/**.dropfile
{
	border:3px dashed #CDCACA !important;
	color:#ABA9A9 !important;
	display:block !important;
	float:left !important;
	height:200px !important;
	width: 100%;
	position:relative !important;
	margin-bottom:6px;
}

.dropfile img
{
	position:absolute;
	z-index:10;
	width:100%;
	height:100px;
}

.dropfile .progress
{
	position:absolute;
	left:0;
	bottom:0;
	right:0;
	background-color:#498CFA;
	height:0;
	color:#FFF;
	font-weight:700;
	text-align:center;
	z-index:12;
}

.dropfile.hover
{
	background-color:#D6D7E5;
	border-color:#3B7FED !important;
}

.dropfile.hover img
{
	filter:alpha(opacity=30);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	-moz-opacity:0.3px;
	opacity:0.3px;
}

.dropfile.hover .instructions
{
	color:#3B7FED;
}

.dropfile span.instructions
{
	position:absolute;
	top:50%;
	left:0;
	right:0;
	font-weight:700;
	color:inherit;
	font-size:11.7pt;
	height:40px;
	margin-top:-21px;
	text-align:center;
	z-index:9;
}*/

.dropfile{
	border: 4px dashed #DDDDDD;
	height: 200px;
}

.dropfile .instructions {
	margin: 70px auto 0;
	width: 250px;
}

.instructions p {
	color: #aaa;
	font-size: 14px;
	margin: 5px 0;
	display: none;
}

.dropfile .instructions p {
	text-align: center;
}

.instructions p.info {
	font-size: 20px;
}

.dropfile .instructions p {
	display: block;
}

.bloc{
	height: 400px;
}
.progress {
    height: 22px;
    margin: 6px 20px 0 0;
    width: 200px;
	line-height: 2em;
	padding: 0;
	overflow: hidden;
	margin-bottom: 2px;
	border: 1px solid #d1d1d1;
	background: #fff;
	background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 100%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 100%);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
	box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
}

.bar {
	z-index: 9;
	width: 0;
	height: 100%;
	margin-top: -24px;
	background-color: #83B4D8;
	background-image: linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
	background-image: -o-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.progress .percent {
	z-index: 10;
	position: relative;
	width: 200px;
	padding: 0 8px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	color: rgba(0,0,0,0.6);
}