@import "compass";

#plupload{ font-family: Arial,Helvetica; color:#AAA;
	#droparea{
		border: 4px dashed #ddd;
		height: 200px;
		text-align: center;
		font-size: 13px;
		p{
			margin: 0; padding: 60px 0 0 0; font-weight: bold; font-size: 20px;
		}
		span{display: block; margin-bottom: 6px;}
		&.hover{border-color: #83b4d8;}
	}
	#browse{
		border: 1px solid #BBB;
		text-decoration: none;
		padding: 3px 8px;
		color:#464646;
		@include background-image( linear-gradient(top,#FFF,#F4F4F4) );
		@include border-radius(15px);
	}
	#filelist{	margin-top: 10px; 
		.file{ 
			padding:0 10px;
			border: 1px solid #DFDFDF;
			height: 70px; line-height: 70px;
			margin-bottom: 10px;
			position: relative;
		}
		img{ 
			margin-right: 10px;
			height: 55px;
			vertical-align: middle;
		}
		.actions{
			position: absolute;
			top:0px;
			right:5px;
		}
		.del{ color:#FF0000; }
		.progressbar{
			position: absolute;
			top:25px; right:5px;
			width: 150px; height: 20px;
			background-color: #abb2bc;
			@include border-radius(25px);
			@include box-shadow(inset 0px 1px 2px 0px rgba(0,0,0,0.5));
		}
		.progress{
			position: absolute;
			border:1px solid #4c8932;
			height: 18px; width: 10%;
			background:url(progress.jpg) repeat;
			-webkit-animation:progress 2s linear infinite;
			@include border-radius(25px);

		}
	}
}

@-webkit-keyframes progress{
	from{ background-position: 0 0;}
	to{ background-position: 54px 0;}
}